@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* GLOBAL VARIABLE */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--clr-primary: #1381fd;
	--clr-light: #f4f4f4;
	--clr-dark: #333;
	--font-work: "Work Sans", sans-serif;
}

body {
	font-size: 1em;
	font-family: "Poppins", sans-serif;
}
/* NAVIGATION BAR */
.nav-bar {
	width: 100%;
	background: linear-gradient(
			270.65deg,
			#00ffe0 -24.7%,
			rgba(255, 255, 255, 0) 98.9%
		),
		#1666c4;
}
.nav-bar nav {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 120px;
}
.nav-bar.container {
	max-width: 1080px;
}
.logo-container {
	display: flex;
	align-items: center;
}
.logo {
	display: none;
	width: 50px;
}
.logo-title {
	font-size: 2em;
	font-weight: 900;
	color: #00ffe0;
}
.nav-items {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
	background: #0000003e;
	padding: 10px;
}
.nav-item {
	list-style: none;
	font-size: 1em;
}
.nav-item a {
	text-decoration: none;
	color: #f4f4f4;
	transition: color 150ms ease-in;
}
.nav-item a:hover {
	color: #333;
}
/* HERO */
.my-bg{
	background-image: url('../img/bg1.webp');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.hero .container {
	display: grid;
	padding: 25px;
}
.hero .left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 600px;
}
#typed_my_name{
	font-size: 1.8em;
	margin-bottom: 0;
}
.hero .left h2 {
	font-size: 2em;
	font-weight: 700;
	margin-bottom: 1px;
}
.hero .left h1 {
	font-size: 2.3em;
	font-weight: 900;
	font-style: italic;
	margin-bottom: 30px;
}
.hero .left p {
	font-size: 1em;
	color: #333;
	margin-bottom: 40px;
}
.hero .hire-me {
	cursor: pointer;
	padding: 10px 20px;
	background: #1666c3;
	border: 2px solid #fffcfc;
	outline: none;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	color: white;
	font-family: inherit;
	font-weight: 900;
	transition: all 150ms ease-in;
}
.hero .hire-me:hover {
	color: #1666c3;
	background: white;
	border: 2px solid #1666c3;
}
.hero .right {
	display: flex;
	justify-content: center;
	padding: 20px;
}
.human {
	height: 250px;
	width: 250px;
}
/* LATES PROJECT */
.projects .container {
	padding: 10px;
	color: #333;
	background: linear-gradient(
			287.44deg,
			#00ffe0 0.69%,
			rgba(255, 255, 255, 0) 100%
		),
		#1666c3;
}
.projects .container h1 {
	margin-left: 5%;
	color: #00ffe0;
}
.small-project-container {
	padding: 0 7%;
	width: 100%;
}
.small-project-header {
	display: flex;
	justify-content: space-between;
	margin: 10px 0;
}
.small-project-header h3 {
	color: black;
}
.small-project-header p {
	cursor: pointer;
	color: black;
	transition: color 150ms ease-in;
}
.small-project-header p:hover {
	color: white;
}
.small-projects {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	gap: 20px;
}
.small-project.card {
	background: #ffffff;
	box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
	border-radius: 23px;
	width: 250px;
	height: 300px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	transition: transform 150ms ease-in;
}
.small-project.card:hover {
	transform: scale(1.05, 1.05);
}
.card-body {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.project-img {
	width: 100%;
}
.card-footer {
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #5aa0f2;
	width: 100%;
	padding: 15px;
	color: #f4f4f4;
}
.card-footer p {
	cursor: pointer;
	font-size: 0.8em;
	color: #333;
	transition: all 150ms ease-in;
}
.card-footer a {
	text-decoration: none;
	color: #333;
}
.card-footer a:hover {
	color: white;
	text-decoration: underline;
}
.small-project-name {
	font-size: 1em;
}

/* SKILLS */
.skills-section .container {
	width: 100%;
}
.skill-body-container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100%;
}
.skill-header {
	margin: 5px 5%;
}
.skill-header h3 {
	font-size: 2em;
	font-weight: 900;
}
.skill-body {
	position: relative;
	width: 350px;

	transform: translateY(30px);
}
.me-skill {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 400px;
}
.me-skill img {
	transform: translateY(-65px);
	width: 300px;
	height: 300px;
}
.skills-icon {
	width: 60px;
	height: 60px;
}
.js {
	position: absolute;
	top: 5%;
	left: 15%;
	transition: transform 100ms ease-in-out;
}
.html {
	position: absolute;
	top: 21%;
	left: 1%;
}
.css {
	position: absolute;
	top: 45%;
	left: 3%;
	transition: transform 100ms ease-in-out;
}
.ps {
	position: absolute;
	top: 5%;
	right: 15%;
	transition: transform 100ms ease-in-out;
}
.ai {
	position: absolute;
	top: 29%;
	right: 1%;
	transition: transform 100ms ease-in-out;
}
.microsoft {
	position: absolute;
	top: 49%;
	right: 6%;
	transition: transform 100ms ease-in-out;
}

.js:hover,
.html:hover,
.css:hover,
.ps:hover,
.ai:hover,
.microsoft:hover {
	transform: scale(1.1, 1.1);
}
.skills-svg {
	width: 700px;
	height: 308px;
}
/* FOOTER */
.footer {
	padding: 10px 5%;
	width: 100%;
	color: #f4f4f4;
	background: linear-gradient(
			270.65deg,
			#00ffe0 -24.7%,
			rgba(255, 255, 255, 0) 98.9%
		),
		#1666c4;
}

/* TABLET */
@media (min-width: 700px) {
	.nav-bar nav {
		flex-direction: row;
		height: 100px;
		justify-content: space-between;
		padding: 0 5%;
	}
	.nav-items {
		width: fit-content;
		background: none;
		gap: 20px;

		justify-content: flex-end;
	}
	.nav-item {
		list-style: none;
		font-size: 1.2em;
	}
	.hero .container {
		grid-template-columns: 1fr 1fr;
		margin: 0 30px;
	}
	.hero .left {
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
	}
	.hero .left h2 {
		font-size: 1.7em;
	}
	.hero .left h1 {
		font-size: 1.95em;
	}
	.hero .hire-me {
		padding: 10px 20px;
		font-size: 1.3em;
	}
	.hero .right {
		display: flex;
		justify-content: center;
		padding: 0px;
	}
	.human {
		height: 300px;
		width: 300px;
	}

	.small-projects {
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;
		justify-items: center;
	}
	.skill-body {
		position: relative;
		width: 450px;
	}
	.me-skill {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 400px;
	}
	.me-skill img {
		transform: translateY(-40px);
		width: 325px;
		height: 325px;
	}
	.skills-icon {
		width: 90px;
		height: 90px;
	}
	.js {
		top: 1%;
		left: 18%;
	}
	.html {
		top: 25%;
		left: -8%;
	}
	.css {
		top: 55%;
		left: 6%;
	}
	.ps {
		top: -1%;
		right: 19%;
	}
	.ai {
		top: 29%;
		right: -4%;
	}
	.microsoft {
		top: 58%;
		right: 6%;
	}
}
/* DESKTOP */
@media (min-width: 900px) {
	.hero .container {
		grid-template-columns: 2fr 1fr;
		margin: 0 5%;
	}
	.hero .left h2 {
		font-size: 2.2em;
	}
	.hero .left h1 {
		font-size: 2.8em;
	}
	.hero .left p {
		font-size: 1.5em;
	}
	.hero .hire-me {
		padding: 15px 25px;
		font-size: 1.5em;
	}
	.human {
		height: 380px;
		width: 360px;
	}
	.small-projects {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		justify-items: center;
		align-items: center;
	}
	.skill-body {
		position: relative;
		width: 550px;
	}
	.me-skill {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 450px;
	}
	.me-skill img {
		transform: translateY(-40px);
		width: 375px;
		height: 375px;
	}
	.skills-icon {
		width: 100px;
		height: 100px;
	}
}
/* BIG SCREEN DESKTOP */
@media (min-width: 1000px) {
	.hero .container {
		height: 82vh;
		align-items: center;
		justify-items: center;
	}
	.human {
		height: 420px;
		width: 445px;
	}
	.skill-body {
		position: relative;
		width: 600px;
	}
	.me-skill {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 500px;
	}
	.me-skill img {
		transform: translateY(-40px);
		width: 425px;
		height: 425px;
	}
	.skills-icon {
		width: 120px;
		height: 120px;
	}
}
@media (min-width: 1100px) {
	.human {
		height: 430px;
		width: 470px;
	}
}
