.animation-area{
    
}
.animating-square, .animating-circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -12;
}
.animating-square li, .animating-circle li{
    position: absolute;
    display: block;
    list-style: none;
    top: 0;
    z-index: -11;
}
.animating-square li{
    height: 50px;
    width: 50px;
    border: 3px solid white;
    border-radius: 50%;
    top: -100px;
    animation: animate-square 20s linear infinite;
}
.animating-square li:nth-child(1){
    background-color: #003561;
    top: 27%;
    left: 86%;
    width: 30px;
    height: 30px;
    animation-delay: 0s;
    animation-duration: 10s;
}
.animating-square li:nth-child(2){
    background-color: #007BE0;
    top: 43%;
    left: 40%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
    animation-duration: 15s;
}
.animating-square li:nth-child(3){
    background-color: #9bd2ff;
    top: 90%;
    left: 10%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;    
    animation-duration: 20s;
}
.animating-square li:nth-child(4){
    background-color: #5ea4dc;
    top: 15%;
    left: 5%;
    width: 25px;
    height: 25px;
    animation-delay: 0s;
    animation-duration: 17s;
}
.animating-square li:nth-child(5){
    background-color: #7397b5;
    top: 85%;
    left: 80%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.animating-circle li{
    height: 50px;
    width: 50px;
    border: 3px solid white;
    border-radius: 50%;
    top: -100px;
    animation: animate-circle 20s linear infinite;
}
.animating-circle li:nth-child(1){
    left: 10%;
    width: 30px;
    height: 30px;
    animation-delay: 1s;
    animation-duration: 10s;
}
.animating-circle li:nth-child(2){
    left: 30%;
    width: 80px;
    height: 80px;
    animation-delay: 2s;
    animation-duration: 15s;
}
.animating-circle li:nth-child(3){
    left: 50%;
    width: 40px;
    height: 40px;
    animation-delay: 3s;    
    animation-duration: 7s;
}
.animating-circle li:nth-child(4){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
    animation-duration: 25s;
}
.animating-circle li:nth-child(5){
    left: 90%;
    width: 80px;
    height: 80px;
    animation-delay: 5s;
}

@keyframes animate-square {
    0%{
        transform: rotate(0deg) scale(0);
        border-color: white;
        opacity: 0;
    }
    50%{
        opacity: 1;
        transform: rotate(180deg) scale(1);
        border-color: red;
    }
    100%{
        transform: rotate(360deg) scale(0);
        border-color: yellow;
        opacity: 0;
    }
}
@keyframes animate-circle {
    0%{
        transform: translateY() scale(0);
        border-color: #003561;
        opacity: 1;
    }
    50%{
        border-color: #007BE0;
    }
    100%{
        transform: translateY(800px) scale(1);
        border-color: #459DE6;
        opacity: 0;
    }
}